
section{
    width: 100vw;
}

#graph-section{
    height:60%;
    position: relative;
    padding-bottom: 0;

    & > div{
        margin-bottom: 0.5em;
    }
    .btn-
    group{
        margin-bottom: 0.5em;
    }
}

#graph-card{
    height: 85%;
    //border-radius: 1rem 1rem 0 0;
    border-radius: 1rem;
}


    .category-card{
        display:flex;
        //margin-bottom:1em;
        padding:1em;
        border-radius:1em;
        flex: 1;

        
        
        
    }

    #category-chart-card{
        align-items: center;
        margin-bottom: 1.5em;
    }

    #category-data-list-card{
        padding:1em 0 ;
        max-height: 45vh;
    }



    .category-table{
        width: 100%;

        tbody{
            display: flex;
            flex-direction: column;
        }

        tr{
            flex:1;
            margin-bottom:0.5em;
            padding: 0.5em;
            border-radius: 2em;
            width: 100%;
        }
    }

    .category-data-list{
        //overflow-x:hidden;
        overflow-y:auto;


        .category-data{
            // display: flex;
            // flex-direction: column;
            padding: 0.5em;
            margin-bottom: 1em;

            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        .spending{
            margin-right: 2em;
            border-radius: 0 2em 2em 0;

            .data-amount{
                color:red;
            }
        }

        .income{
            margin-left: 2em;
            border-radius: 2em 0 0 2em;

            .data-amount{
                color:green
            }
        }

        .data-amount{
            font-weight: bold;
            
        }

        span{
            font-weight: bold;
            text-align: left;
        }

        p{
            font-size: 0.8em;
            text-align: left;
            margin:0;
        }
    }


.swiper-slide{
    padding:0.5em;
    display:flex;
}

[data-rsbs-overlay] {
    border-radius:2em 2em 0 0 !important;
    background: var(--accent) !important;
    box-shadow: inset 5px 5px 10px #795a0a, inset -5px -5px 10px #ffde87 !important;
  }

  [data-rsbs-scroll]{
      overflow:hidden !important;
  }

  [data-rsbs-content]{
    padding:1em !important;
}

[data-rsbs-footer] {
    padding-top: 0 !important;
    box-shadow: none !important;
  }


@media screen and (min-width:960px){
    #graph-section{
        height:50%;
    }
    
    #category-section{
        height:50%
    }
}

