
section{
    width: 100vw;
}

#graph-section{
    height:60%;
    position: relative;
    padding-bottom: 0;

    .btn-group{
        margin-bottom: 0.5em;
    }
}

#graph-card{
    height: 85%;
    //border-radius: 1rem 1rem 0 0;
    border-radius: 1rem;
}

#category-section{
    height:40%;
    // background-color:var(--primary);
}

@media screen and (min-width:960px){
    #graph-section{
        height:50%;
    }
    
    #category-section{
        height:50%
    }
}