.dp-wrap {
    margin: 0 auto;
    position: relative;
    perspective: 1000px;
    height: 100%;
}
.dp-slider {
    height: 100%;
    width: 100%;
    // position: absolute;
    transform-style: preserve-3d;
}
.dp-slider div {
    transform-style: preserve-3d;
}
.dp_item {
    display: block;
    position: absolute;
    text-align: center;
    color: #FFF;
    border-radius: 10px;
    transition: transform 1.2s;
}
#dp-slider .dp_item:first-child {
    z-index: 10 !important;
    transform: rotateZ(0deg) translateX(0px) !important;
	background-color: var(--accent);
}
.dp_item[data-position="2"] {
    z-index: 9;
    transform: rotateZ(2deg) translateX(5%) 
}
.dp_item[data-position="3"] {
    z-index: 8;
    transform: rotateZ(6deg) translateX(7.5%)
}
.dp_item[data-position="4"] {
    z-index: 7;
    transform: rotateZ(10deg) translateX(10%) 
}
.dp-content {
    text-align: left;
}
.dp_item {
    width: 85%;
    display: flex;
    align-items: center;
    background: #eee;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 5px black;
}
.dp-content {
    // padding-left: 100px;
    // padding-right: 0;
    display: inline-block;
    width: 100%;
}
.dp-content h2 {
    color: #41414B;
    font-family: Circular Std Bold;
    font-size: 48px;
    max-width: 460px;
    margin-top: 8px;
    margin-bottom: 0px;
}
.dp-content p {
    color: #74747F;
    max-width: 490px;
    margin-top: 15px;
    font-size: 24px;
}
.dp-content .site-btn {
   margin-top: 15px;
   font-size: 13px;
   padding: 19px 40px;
}
.dp-img:before {
    background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
    background: -o-linear-gradient(-90deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
    background: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    content: "";
    position: absolute;
    height: 100%;
    width: 25%;
    z-index: 1;
    top: 0;
    pointer-events: none;
    background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75));
    background: -o-linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75));
    background: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75));
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

#dp-slider{
    height: 100%;
}
#dp-slider .dp_item:hover{
    cursor: pointer;
}
.site-btn {
  color: #fff;
  font-size: 18px;
  font-family: "Circular Std Medium";
  background: #FA8282;
  padding: 14px 43px;
  display: inline-block;
  border-radius: 2px;
  position: relative;
  top: -12px;
  text-decoration: none;
}
.site-btn:hover{
  text-decoration: none;
  color: #fff;
}